@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(255, 96, 98);
}

article:first-of-type, button, article:last-of-type p{
    color: rgb(255, 255, 255);
}

article:last-of-type p{
    background-color: rgb(74, 60, 148);
}

body{
    font-family: "Poppins", sans-serif;
    background: url(../images/bg-intro-desktop.png)  rgb(255, 96, 98);
    background-size: 100%;
  }

button{
    background-color: rgb(43, 198, 117);

}

form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

  @media screen and (min-width:1440px) {
    
  }